<section class="container">
    <h1>All clients</h1>  
       {{#each users}} 
        <div class="users list-group">  
            <div class="list-group-item">
                <h5> Firstname</h5>
                <p >{{@key}} {{name}}</p>
            </div>
            <div class="list-group-item">
                <h5> Email</h5>
                <p >{{email}}</p> 
            </div>
          
        </div> 
        {{else}}
            <p>No data available</p>
       {{/each}} 

</section>