<section>
    <h1>All clients</h1>

    <div class="users">
        <h3> All clients reistered on this system</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Consequuntur pariatur ea reiciendis. Sequi dolor a ratione natus 
            vitae perferendis, vel facere illum atque animi,
             ipsa cumque libero temporibus hic eveniet!</p>
    </div>
</section>